
  <section
    class="flex flex-row space-between grow rounded bg-green-400 justify-center"
    id="project-id"
    value="{{id}}"
  >
    <a href="/project/{{id}}">
      <span class="inline-block m-3"><h3 class="text-2xl">{{title}}</h3></span>
      <span class="inline-block m-3"><h3
          class="text-2xl"
        >{{due_date}}</h3></span>
      <span class="inline-block m-3"><h3
          class="text-2xl"
          id="time-left"
        >{{time_until_due}}</h3></span>
    </a>
  </section>



<script src="js/displayProjects.js"></script>