<Section id="project" class="flex flex-col mt-2 pr-8">
  <h2 class="font-bold text-3xl">{{project.title}}</h2>
  <p class="font-bold">Project Due Date: {{project.due_date}}</p>
  <p class="font-bold">Days Until project Due: {{project.time_until_due}}</p>

  {{#each project.Tasks}}
  <a href="/task/{{id}}">
    <div
      class="task-card hover:bg-blue-700 border-solid border-2 border-blue-950 my-2 rounded bg-{{status}}-500"
    >
      <button id="taskCompleted" class="รง">Completed</button>
      <h3 class="font-bold">{{name}} </h3>
      <p>{{description}}</p>
      </a>
      <select name="status" class="status" id="{{id}}">
        <option value=" "></option>
        <option value="1">Off-track</option>
        <option value="2">Need-Assistance</option>
        <option value="3">On-Track</option>
      </select>
      

      {{!-- <button class="del-btn" data-proj-id="{{id}}">Delete me!</button> --}}
    </div>
  {{/each}}
  <script src="/js/project.js"></script>
</Section>